@* Shared brand partial used in _Layout and _PublicLayout *@
<a class="navbar-brand d-flex align-items-center text-decoration-none" href="~/">
    <i class="fa-solid fa-book-open fa-2x text-primary me-2" aria-hidden="true"></i>
    <div class="brand-text">
        <div class="fw-bold">MyDigitalLibrary</div>
        <div class="brand-sub">Your Cloud Library</div>
    </div>
</a>
